page-learn {
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,500,700,900');
  @import url('https://fonts.googleapis.com/css?family=Neucha');
  @import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

  .movespace{
      width: 85vw;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      padding-top: 5%;
      bottom: 55%;
      display: flex;
      flex-wrap: wrap;
  }

  .box{
    border: 2px solid #2d3436;
    margin: 10px;
    overflow: hidden;
  }

  .homebox{
    width: 20%;
    height: 30vh;
    background-color: #fdcb6e;
    display: inline-flex;
  }

  .lilleftside{
    width: 50%;
    height: 100%;
    border-right: 2px solid #fedda0;
    text-align: center;
    font-size: 46px;
    line-height: 30vh;
    color: #fedda0;
  }

  .lilrightside{
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 34px;
    line-height: 30vh;
    color: #fedda0;
  }

  .notificationbox{
    width: 76%;
    height: 30vh;
    background-color: #f8a5c2;

    .left{
      width: 10%;
      height: 29.5%;
      position: absolute;
      border-right: 2px solid #fcdee9;
      text-align: center;
      font-size: 36px;
      line-height: 30vh;
      color: #fcdee9;
    }

    .right{
      width: 54.5%;
      height: 29.5%;
      position: absolute;
      margin-left: 10%;
      text-align: center;
      padding-right: 10%;
      padding-left: 10%;
      padding-top: 6%;
      font-size: 21px;
      line-height: 3vh;
      color: #fcdee9;
    }
  }

  .subjectbox{
    width: 48%;
    height: 50vh;
    background-color: #63cdda;

    text-align: center;
    overflow: scroll;
  }

  .timetable{
    width: 48%;
    height: 50vh;
    background-color: #ea8685;
    padding-top:  17px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .progressbox{
    width: 65%;
    height: 20vh;
    background-color: #786fa6;
  }

  .tokenbox{
    width: 31%;
    height: 20vh;
    background-color: #f3a683;
  }

  .bottomspace{
    width: 100%;
    height: 7vh;
  }

  .mainkeyboard{
  	text-transform: lowercase;
    width: 100%;
    height: 100%;
  }

  .KeyboardKey {
  	display: inline-block;
  	background: rgba(255, 255, 255, 0.8);
  	padding: 10px;
  	margin-bottom: 5px;
  	border-radius: 6px;
  	cursor: pointer;
  	display: inline-block;
  	color: #f1b1b1;
  	font-family: arial;
  	font-size: 14px;
  	font-weight: bold;
  	font-style: normal;
  	height: 5.9vh;
  	line-height: 3.5vh;
  	width: 5.85vw;
  	text-decoration: none;
  	text-align: center;
  	font-family: 'Neucha', cursive;
  }

  .uppershift{
  	text-transform: uppercase;
  }

  .serious{
  	width: 114px;
  }

  .megaserious{
  	width: 100%;
  }

  .KeyboardKey:active {
  	background-color: #dfdfdf;
  }

  .KeyboardKey:focus {
  	background-color: #dfdfdf;
  }

  .searcherInput{
    margin-top: 5vh;

    border: none;
    width: 30vw;
    height: 7vh;
    border-radius: 3px;
    padding-left: 1.5vw;
  	background: rgba(255, 255, 255, 0.4);
    color: #4fa4ae;
  }

  .searcherInput::-webkit-input-placeholder{
    color: #4fa4ae;
  }

  .infoblock{
    padding-top: 5%;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-right: 15%;

    h1{
      white-space: pre-wrap;
      text-align: left;
      font-size: 32px;
    	font-family: 'Neucha', cursive;
      color: #377279;
    }
    p{
      white-space: pre-wrap;
      text-align: left;
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      color: #3f838b;
      width: 80%;
    }
  }
}
