
<ion-content padding>
  <div class="topjazz">
    <h3><font color="#F1654C">William Fischer</font> &bull; <font color="#2CC990">Year 6</font> &bull; <font color="#83D6DE">Education Mode</font></h3>
    <h4>Learning Level 3 &bull; Reading Level 8 &bull; Memory Level 12 &bull; 189 SenseCoins</h4>
    <h5>Your currently doing <font color="#97CE68">very well</font>, however you should work on your <font color="#EB9532">comprehension</font> </h5>

    <div class="rightside">
      <i class="icon-settings2"></i>
      <i class="icon-wifi"></i>
      <i class="icon-bluetooth" (click)="teacherTrigger()"></i>
      <i class="icon-battery"></i>
      <h2 *ngIf="batteryLevel">{{batteryLevel}}%</h2>
      <h2 *ngIf="!batteryLevel">N/A</h2>
    </div>

  </div>
  <div class="inlinleflow">
      <div class="longCard" style="background-color: #55efc4" (click)="learnTrigger()">
          <i class="icon-learn"></i>
          <p>Learn</p>
      </div>
      <div class="longCard" style="background-color: #81ecec">
          <i class="icon-search"></i>
          <p>Search</p>
      </div>
      <div class="longCard"  style="background-color: #74b9ff">
          <i class="icon-social"></i>
          <p>Social</p>
      </div>
      <div class="longCard" style="background-color: #a29bfe">
          <i class="icon-game"></i>
          <p>Game</p>
      </div>
      <div class="longCard" style="background-color: #ffeaa7">
          <i class="icon-tv"></i>
          <p>TV</p>
      </div>
      <div class="longCard" style="background-color: #fab1a0">
          <i class="icon-music"></i>
          <p>Music</p>
      </div>
      <div class="longCard" style="background-color: #ff7675">
        <i class="icon-market"></i>
        <p>Market</p>
      </div>
      <div class="longCard" style="background-color: #fd79a8">
        <i class="icon-profile"></i>
        <p>Profile</p>
      </div>
      <div class="bottomspace"></div>
  </div>

  <div class="bottomjazz">
    <h3>Sensepad 2017. We are trying to educate the world. Please, <a>help us</a>.</h3>
  </div>
</ion-content>
