page-dashboard {
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,500,700,900');
  @import url('https://fonts.googleapis.com/css?family=Neucha');
  @import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');

  .topjazz{
    width: 85%;
    display: inline;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    height: 10vh;
    padding-top: 3%;

    h3{
      font-family: 'Neucha', cursive;
      font-size: 32px;
      color: #60646D;
    }

    h4{
      font-size: 18px;
      color: #60646D;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      top: 7.8vh;
      position: absolute;
    }

    h5{
      font-size: 18px;
      color: #888888;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
      top: 11vh;
      position: absolute;
    }

    .rightside{
      width: 20vw;
      height: 100%;
      float: right;
      margin-top: -2vh;

      i{
        font-size: 32px;
        margin-left: 1.6vw;
      }

      h2{
        float: right;
        font-size: 16px;
        margin-right: 0.7vw;
        margin-top: 0.66vh;
      }
    }
  }

  .inlinleflow{
    display: inline;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin-top: 20vh;
  }

  .longCard{
    height: 60vh;
    width: 20%;
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    justify-content: space-between;
    border: 2px solid #2d3436;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #60646D;

    i{
      position: absolute;
      margin-top: 10vh;
      font-size: 100px;

      color: #2d3436;
      margin-left: -2.5vw;
    }

    p{
      position: absolute;
      text-align: center;
      width: 20%;

      color: #2d3436;
      font-family: 'Neucha', cursive;
      margin-top: 45vh;
      font-size: 40px;
    }
  }

  .bottomspace{
    width: 100%;
    height: 15vh;
    display: block;
  }

  .bottomjazz{
    display: inline;

    height: 10vh;
    padding-top: 3%;
    padding-left: 5%;
    bottom: -60vh;
    position: absolute;

    h3{
      font-family: 'Nunito', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #25373D;
    }
  }
}
