// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;

$teach1: #fafafa;
$teach2: #F0F3BD;
$teach3: #457B9D;
$teach4: #E63946;
$teach5: #1D3557;
$teach6: #1D3557;
$teach7: #D4D4D4;

$white: #fff;

$Platinum: #E8E9EB;
$Yellow: #E4B363;
$Red: #EF6461;
$Grain: #E0DFD5;
$Coal: #313638;

$Silk: #F9DEC9;
$Pink: #E9AFA3;
$LightPurple: #99B2DD;

$Brown: #685044;
$Charcoal: #3A405A;


$LightGreen: #BBB09B;
$Green: #84A98C;
$DarkGreen: #52796F;
$DarkerGreen: #354F52;
$BlackishGreen: #2F3E46;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
