page-teach {
  .parent{
  	background-color: #e8e8e8;
  	width: 100vw;
  	height: 100vh;
   	scroll-snap-align: start;
  	font-family: 'Barlow Condensed', sans-serif;

  	.topbanner{
  		position: absolute;
  		margin-left: -1.1vw;
  	}

  	.settico{
  			margin-left: 88vw;
  			margin-top: 6vh;
  			font-size: 42px;
  			position: absolute;
  			color: #ea8685;
  	}

  	.searchicon{
  			margin-left: 31.5vw;
  			margin-top: 17.3vh;
  			font-size: 21px;
  			position: absolute;
  			color: $Platinum;
  	}

  	.searchanything{
  		margin-top: 16vh;
  		margin-left: 30vw;
  		background-color: $LightPurple;
  		width: 46vw;
  		height: 5vh;
  		color: $Platinum;

  		padding-left: 4vw;
  		border-radius: 2px;
      border: none;
  	}

  	.searchanything::-webkit-input-placeholder{
  		color: $Platinum !important;
  	}
  	.statsdrops{
  		width: 30vw;
  		height: 50vh;
  		margin-top: 4vh;
  		margin-left: 3vw;
  		overflow: hidden;
  		padding-top: 9vh;



  		// border: 2px dotted red;

  		.dropletgrid{
  			list-style: none;
  			display: inline-flex;
  			margin-left: -3vw;
  			margin-top: 1vh;


        font-family: 'Lora';
        color:black;
        font-weight: 600;

  			.endchip{
  				width: 20px;
  				height: 25px;

  			  border-top-left-radius: 90px;
  			  border-bottom-left-radius: 90px;
  				background-color: #E69896;
  				margin-left:0.5vw;

  			}
  			.leftchip{
  				width: 40px;
  				height: 25px;

  				background-color: #E2999F;

  				letter-spacing: 1px;

  				white-space: nowrap;
  				overflow: hidden;
  				line-height: 3.3vh;
  				font-size: 10px;
  				padding-left: 8px;
  				margin-left:0.3vw;

  			}
  			.bignum{
  				width:30px;
  				height: 25px;

          color:  #F1A49f;
  				letter-spacing: 1px;

  				white-space: nowrap;
  				overflow: hidden;
  				line-height: 3.4vh;
  				font-size: 21px;
  				padding-left: 5px;
  				margin-left:0vw;
  				text-align: right;
  			}
  			.middlechip{
  				width: 10px;
  				height: 25px;
  				background-color: #F1A49F;

  				letter-spacing: 1px;

  				white-space: nowrap;
  				overflow: hidden;
  				line-height: 4vh;
  				font-size: 12px;
  				padding-left: 10px;
  				margin-left:0.3vw;


  			}
  			.rightchip{
  				width: 93px;
  				height: 25px;
  				background-color: #F8CAC1;

  			  border-top-right-radius: 90px;
  			  border-bottom-right-radius: 90px;

  				letter-spacing: 1px;

  				white-space: nowrap;
  				overflow: hidden;
  				line-height: 3.4vh;
  				font-size: 10px;
  				padding-left: 10px;
  				margin-left:0.3vw;
  				font-weight: 600;

  			}
  			.namechip{
  				width: 100px;
  				height: 25px;
  				background-color: #F7A3A2;
  				letter-spacing: 1px;
  				border-radius: 90px;

  				white-space: nowrap;
  				overflow: hidden;
  				line-height: 3.3vh;
  				font-size: 9px;
  				margin-left:0.35vw;
  				padding-left: 10px;
  				font-family: 'Nunito', cursive;
  			}
  		}
  	}

  	.homeworkblock{
  		width: 23vw;
  		height: 25vh;
  		background-color:  $Green;
  		margin-left: 3vw;
  		margin-top: 2vh;

  		border-top-left-radius: 10px;
  		border-top-right-radius: 10px;

  		padding: 2%;
  		margin-left: 5vw;
  		text-align: center;

  		.viewhmw{
  			width: 220px;
  			height: 50px;
  			background-color: #fff;
  			color:  $Green;
  			border-radius: 5px;
  			font-size: 16px;
        font-family: 'Lora';
        font-weight: 600;

  			margin-top: 1vh;
  		}

  		.sethmw{
  			width: 220px;
  			height: 50px;
  			background-color: #fff;
  			color:  $Green;
  			border-radius: 5px;
  			font-size: 16px;
        font-family: 'Lora';
        font-weight: 600;
  		}
  	}

  	h3{
  		color: $teach5;
  		font-size: 21px;
  		position: absolute;
  		text-align: center;
  		margin: 0;
  		padding: 0;
  		margin-top: -70vh;
  		margin-left: 57.5vh;
  		width: 150px;
  	}

  	h4{
  		color: $teach5;
  		font-size: 26px;
  		position: absolute;
  		margin: 0;
  		padding: 0;
  		margin-top: -66vh;
  		margin-left: 58vh;
  		text-align: center;
  		width: 150px;

  	}

  	.dropdowndownstats{
  		background-color: transparent;
  		width: 11vw;
  		height: 80vh;
  		position: absolute;
  		margin-top: -73vh;
  		margin-left: 36.5vw;
      font-family: 'Lora';
      color:black;
      font-weight: 500;

  		.parta{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background: #91CED7;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;

  			border-bottom: 1px solid $Platinum;


  		}
  		.partb{
  			width: 100%;
  			height: 5vh;
  			position: absolute;
  			background: #EDF9FF;
  			margin-top: 10vh;
  			text-align: right;
  			padding-top: 2vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.partc{
  			width: 100%;
  			height: 20vh;
  			position: absolute;
  			background: #E1FAFC;
  			margin-top: 15vh;
  			text-align: right;
  			padding-top: 17vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.partd{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background-color: #E8FFFF;
  			margin-top: 35vh;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.parte{
  			width: 100%;
  			height: 15vh;
  			position: absolute;
  			background-color: #E3EEFF;
  			margin-top: 45vh;
  			text-align: right;
  			padding-top: 11.5vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}

  		.partf{
  			width: 100%;
  			height: 12vh;
  			position: absolute;
  			background-color: #ECF0F1;
  			margin-top: 60vh;
  			text-align: right;
  			padding-top: 7.5vh;
  			padding-right: 1vw;
  		}
  	}

  	.dropdowndownstats2{
  		background-color: transparent;
  		width: 10vw;
  		height: 250vh;
  		position: absolute;
  		margin-top: -48vh;
  		z-index: 9000;
  		margin-left: 48.1vw;

  		.parta{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background-color: $Silk;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;
  			border-top-left-radius: 50px;
  			border-bottom: 1px solid $Platinum;
  		}
  		.partb{
  			width: 100%;
  			height: 5vh;
  			position: absolute;
  			background-color: $Pink;
  			margin-top: 10vh;
  			text-align: right;
  			padding-top: 2vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.partc{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background-color: $LightPurple;
  			margin-top: 15vh;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.partd{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background-color: $Silk;
  			margin-top: 25vh;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $Platinum;
  		}
  		.parte{
  			width: 100%;
  			height: 12vh;
  			position: absolute;
  			background-color: $Pink;
  			margin-top: 35vh;
  			text-align: right;
  			padding-top: 8vh;
  			padding-right: 1vw;
  		}
  	}

  	.linestats{
  		width: 45vw;
  		height: 5vh;
  		position: absolute;
  		margin-top: -48vh;
  		margin-left: 58vw;

  		.parta{
  			width: 10%;
  			height: 100%;
  			position: absolute;
  			background-color: $Silk;
  			text-align: right;
  		}

  		.partb{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $Pink;
  			margin-left: 10%;
  			text-align: right;
  			border-left: 2px solid $Platinum;
  		}

  		.partc{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $LightPurple;
  			margin-left: 29%;
  			text-align: right;
  			border-left: 2px solid $Platinum;
  		}

  		.partd{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $Silk;
  			margin-left: 49%;
  			text-align: right;
  			border-left: 2px solid $Platinum;
  		}

  		.parte{
  			width: 21%;
  			height: 100%;
  			position: absolute;
  			background-color: $Pink;
  			margin-left: 68%;
  			text-align: right;
  			border-left: 2px solid $Platinum;
  		}
  	}

  	.dropdowndownstats3{
  		background-color: transparent;
  		width: 10vw;
  		height: 250vh;
  		position: absolute;
  		margin-top: -73vh;
  		margin-left: 48.1vw;

  		.parta{
  			width: 100%;
  			height: 10vh;
  			position: absolute;
  			background-color: $Silk;
  			text-align: right;
  			padding-top: 7vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $teach1;
  		}
  		.partb{
  			width: 100%;
  			height: 5vh;
  			position: absolute;
  			background-color: $Pink;
  			margin-top: 10vh;
  			text-align: right;
  			padding-top: 2vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $teach1;
  		}
  		.partc{
  			width: 100%;
  			height: 9.6vh;
  			position: absolute;
  			background-color: $Silk;
  			margin-top: 15vh;
  			text-align: right;
  			padding-top: 1vh;
  			padding-right: 1vw;
  			border-bottom: 1px solid $teach1;

  			border-bottom-left-radius: 50px;
  		}
  	}

  	.linestats2{
  		width: 45vw;
  		height: 5vh;
  		position: absolute;
  		margin-top: -53.5vh;
  		margin-left: 58vw;

  		.parta{
  			width: 10%;
  			height: 100%;
  			position: absolute;
  			background-color:  $Silk;
  			text-align: right;
  		}

  		.partb{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $Pink;
  			margin-left: 10%;
  			text-align: right;
  			border-left: 2px solid $teach1;
  		}

  		.partc{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $LightPurple;
  			margin-left: 29%;
  			text-align: right;
  			border-left: 2px solid $teach1;
  		}

  		.partd{
  			width: 20%;
  			height: 100%;
  			position: absolute;
  			background-color: $Silk;
  			margin-left: 49%;
  			text-align: right;
  			border-left: 2px solid $teach1;
  		}

  		.parte{
  			width: 21%;
  			height: 100%;
  			position: absolute;
  			background-color: $Pink;
  			margin-left: 68%;
  			text-align: right;
  			border-left: 2px solid $teach1;
  		}
  	}


  	h1{
  		font-size: 48px;
  		margin-top: -75vh;
  		text-align: center;
  		margin-left: 71vw;
  		color: $Red;
  		z-index: 9000;
  		position: absolute;
  		font-family: 'Bungee', cursive;
  	}

  	h2{
  		font-size: 18px;
  		margin-top: -67.5vh;
  		text-align: center;
  		margin-left: 67.3vw;
  		color: $Yellow;
  		z-index: 9000;
  		position: absolute;
  		font-family: 'Bungee', cursive;
  	}

  	.quote{
  		position: absolute;
  		width: 25vw;
  		font-size: 14px;
  		margin-top: 19vh;
  		margin-left: 2vw;
  		text-align: left;
  		color:  $LightPurple;
      line-height: 2.3vh;
  	}


  	.happi{
  		position: absolute;
  		margin-left:9.3vw;
  		text-align: center;
  		color:  $Pink;
      font-family: 'lora';
  		font-size: 16px;
  		margin-top: -3vh;
  	}

  	.acdem{
  		position: absolute;
  		margin-left: 19vw;
  		text-align: center;
  		color:  $Pink;
      font-family: 'lora';
  		font-size: 16px;
  		margin-top: -3vh;
  	}

  	.bigboy{
  		width: 41vw;
  		height: 45vh;
      background-color: #e8e8e8;
  		position: absolute;
  		margin-left: 58vw;
  		margin-top: -44.5vh;
  		border-top-left-radius: 20px;
  		z-index: 9000;
  		padding: 2%;

  		hr{
  			width: 2px;
  			height: 150px;
  			background-color: $LightPurple;
  			margin-top: -25vh;
  			border-radius: 30px;

  			position: absolute;
  			margin-left: auto;
  			margin-right: auto;
  			left: 0;
  			right: 0;
  		}

  		.alertcard{
  			width: 15vw;
  			height: 10vh;
  			margin-top: 2vh;
  			background-color: $Silk;
  			box-shadow: 0px 0px 5px #e8e8e8;
  			color: $Coal;
  			border-radius: 5px;
  			text-align: left;
  			font-size: 12px;
  			padding-top: 0.8vh;
  			padding-left: 1vw;
  			padding-right: 2vw;
  			border: 2px solid $Pink;
  			font-family: 'Nunito';
  		}

  		.rightside{
  			margin-top: -36vh !important;
  			z-index: 9000;
  			margin-left: 22vw;

  			.alertcard{
  			padding-top: 0.8vh;
  				border: 2px solid $Pink;
  			}
  		}
  	}

  	.bigboy2{
  		width: 50vw;
  		height: 24vh;
      background-color: #e8e8e8;
  		position: absolute;
  		margin-left: 58vw;
  		margin-top: -76vh;
  		border-radius: 20px;

  	}

  	.subject{
  		font-size: 28px;
  		margin-top: -85.8vh;
  		padding-right: 5vw;
  		text-align: right;
  		margin-left: 79vw;
  		color: $LightPurple;
  		z-index: 9000;
  		position: absolute;
  	}

  	.searchstd{
  		width: 38vw;
  		border-radius: 10px;
  		margin-top: -42vh;
  		height: 5vh;
  		background-color: #fafafa;
  		box-shadow: 0px 0px 5px #8e8e8e;
  		margin-left: 60vw;
  		font-size:18px;

  		color: #523D1F;
  		padding-left: 15px;
  		z-index: 9000;
  		position: absolute;
  	}

  	.searchstd::-webkit-input-placeholder{
  		color: #523D1F !important;
  	}

  	.notifipane{
  		width: 38vw;
  		height: 40vh;
  		margin-top: -35vh;
  		background-color: #fafafa;
  		box-shadow: 0px 0px 5px #8e8e8e;
  		margin-left: 60vw;

  		border-top-left-radius: 20px;
  		border-top-right-radius: 20px;

  		padding: 2%;
  		z-index: 9000;
  		position: absolute;
  	}

  	h5{

  	}
  	hr{

  	}


  	.range-slider {
  	  margin: 60px 0 0 0%;
  	}

  	.range-slider {
  	  width: 24%;
  		margin-left: 69.6vw;
  		margin-top: -56.5vh;
  		position: absolute;
  	}

  	.range-slider__range {
  	  -webkit-appearance: none;
  	  width: calc(100% - (73px));
  	  height: 10px;
  	  border-radius: 5px;
  	  background: $LightPurple;
  	  outline: none;
  	  padding: 0;
  	  margin: 0;
  		border: 1px solid #e8e8e8
  	}
  	.range-slider__range::-webkit-slider-thumb {
  	  -webkit-appearance: none;
  	          appearance: none;
  	  width: 20px;
  	  height: 20px;
  	  border-radius: 50%;
  		background: $Platinum;
  	  cursor: pointer;
  	  -webkit-transition: background .15s ease-in-out;
  	  transition: background .15s ease-in-out;
  		border: 2px solid $Coal;
  	}
  	.range-slider__range::-webkit-slider-thumb:hover {
  	background: $teach5;
  	}
  	.range-slider__range:active::-webkit-slider-thumb {
  	background: $teach5;
  	}
  	.range-slider__range::-moz-range-thumb {
  	  width: 20px;
  	  height: 20px;
  	  border: 0;
  	  border-radius: 50%;
  	  background: $teach6;
  	  cursor: pointer;
  	  -webkit-transition: background .15s ease-in-out;
  	  transition: background .15s ease-in-out;
  	}
  	.range-slider__range::-moz-range-thumb:hover {
  	  background: #1abc9c;
  	}
  	.range-slider__range:active::-moz-range-thumb {
  	  background: #1abc9c;
  	}

  	::-moz-range-track {
  	  background: #d7dcdf;
  	  border: 0;
  	}

  	input::-moz-focus-inner,
  	input::-moz-focus-outer {
  	  border: 0;
  	}

  	.thecorelist{
  		margin-left: 65.5vw;
  		margin-top: -66vh;
  		text-align: center;
  		list-style: none;

  		position: absolute;
  		font-size: 21px;
  		color: $teach6;
  		line-height:14vh;


  		li{
  			color: $Coal;
  			display: inline-block;
  			padding-left: 10px;
  		}
  	}
  }

  .profileMode{
  	background-color: #FBFBFB;
  	width: 50vw;
  	height: 100vh;
  	position: absolute;
  	top: 0;
  	left: 0;

  	.coverphoto{
  		width: 100%;
  		height: 45%;
  		object-fit: cover;
  		border-radius: 0px;
  	}

  	.swagtriangle{
  		width: 0;
  		height: 0;
  		border-style: solid;
  		border-width: 100px 0 100px 619px;
  		border-color: transparent transparent transparent #FBFBFB;

  		margin-top: -12.8vh;
  		z-index: 900;
  		position: absolute;
  	}

  	.centercirclepro{
  		width: 150px;
  		height: 150px;
  		z-index: 9000;
  		border-radius: 5px;
  		border: none;

  		margin-left: 5vw;
  		margin-top: -19vh;

  		box-shadow: 0px 20px 32px -10px rgba(120,120,120,1);
  	}

  	h1{
  		margin-top: 5vh;
  		font-size: 21px;
  		color: #2C2D32;

  		text-align: left;
  		z-index: 9000;
  		position: absolute;

  		margin-left: 5vw;

  		font-family: 'Nunito', cursive;
  		font-weight: 700;
  	}

  	h2{
  		margin-top: 9vh;
  		font-size: 16px;
  		color: #888888;

  		font-family: 'Nunito', cursive;
  		font-weight: 400;
  		text-align: left;
  		z-index: 9000;
  		position: absolute;

  		margin-left: 5vw;

  	}
  }

  .profilecontent{
  		padding: 0 !important;

  		.scroll-content{
  			width: 100% !important;
  			height: 100% !important;
  			background-color: orange !important;
  		}
  }

  .happinessblock{
    width: 100%;
    height: 30vh;
    margin-top: 3vh;
    background-color: #FEFCEB;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #DB9F8B;

    .imghappi{
      width: 50%;
      margin-top: 5%;
      float: left;
      margin-left: 2vw;
    }

    h1{
      color: #DBA089;
      font-style: italic;
      padding-top: 5vh;
      font-size: 26px;
      font-family: 'Lora', serif;
    }

    h2{
      color: #DBA089;
      font-size: 12px;
      padding-top: 1vh;
      font-family: 'Lora', serif;
      width: 35%;
      float: right;
      margin-right: 5%;
    }

    hr{
      width: 100px;
      height: 2px;
      margin-top: 8vh;
      background: #E3B38D;
    }

    .welbeingtrigger{
      width: 30%;
      height: 15%;
      margin-top: 3.5vh;
      font-size: 12px;
      background: #BF787D;
      color: #FFFDE8;
      border-radius: 5px;

      font-weight: bold;
      font-family: 'Lora', serif;
    }
  }


  .happykeyboard{
    background-color: #9E906E;

    .corename{
      color: #FFFDE8;
    }

    .settico{
      color: #FFFDE8 !important;
    }

    .globeico{
      color: #FFFDE8 !important;
    }

    .biggsearch{
      background-color: green;
      box-shadow: none;
      color: #9E906E;
    }

    .KeyboardKey{
      background-color: #FFFDE8;
      border: none;
      color: #9E906E;
    }

    .helpmelmao{
      background: #87766C;
    }
  }

  .happinessmode{
    .avacado{
      width: 50%;
    }

    h1{
      font-size: 46px;
      margin-top: 5vh;
      color: #87766C;
      font-family: 'Lora';
      font-weight: 600;

    }

    ul{
      list-style: none;
      color: #9E906E;
      margin-left: 1.5vw;
      margin-top: 7vh;
    }

    li{
      width: 30vw;
      height: 7vh;
      background-color: #87766C;
      margin-top: 2vh;
      border-radius: 10px;
      color: #FFFDE8;
      font-size: 18px;
      font-family: 'Lora';
      line-height: 7vh;
    }

    p{
      text-align: center;
      font-family: 'Lora';
      font-size: 21px;
      color: #9E906E;
      margin-top: 10vh;
      text-transform: uppercase;
    }
  }
}
