<div class="parent" >
  <img src="assets/topbar.png"  class="topbanner"/>
  <i class="settico icon-settings" (click)="ungoTeachMode()"></i>

  <span class="quote">"The world is a dangerous place to live, not because of the people who are evil, but because of the people who don't do anything about it." <br /> - Albert Einstein</span>

  <i class="searchicon icon-search"></i>
  <input placeholder="Search for something, anything." class="searchanything"/>

  <div class="statsdrops">
    <span class="happi">Happiness</span>
    <span class="acdem">Academics</span>

    <ul class="dropletgrid">
    <li class="namechip">Sylvester Mccoy</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 83px;">25%</li>
      <li class="bignum">9</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">93%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">Matt Smith</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 87px;">87%</li>
      <li class="bignum">24</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 100px;">100%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">David Tennant</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 54px;">54%</li>
      <li class="bignum">17</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 86px;">86%</li>
    </ul>
    <ul class="dropletgrid">
      <li class="namechip">Tom baker</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 45px;">45%</li>
      <li class="bignum">13</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">83%</li>
    </ul>

    <ul class="dropletgrid">
      <li class="namechip">Peter Capaldi</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 45px;">45%</li>
      <li class="bignum">75</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 83px;">83%</li>
    </ul>

    <ul class="dropletgrid">
      <li class="namechip">Jon Pertwee</li>
      <li class="endchip"></li>
      <li class="leftchip" style="width: 88px;">88%</li>
      <li class="bignum">62</li>
      <li class="middlechip"></li>
      <li class="rightchip" style="width: 43px;">43%</li>
    </ul>
  </div>


  <div class="homeworkblock">
    <button class="viewhmw">View Homework</button> <br /><br />
    <button class="sethmw">Set Homework</button>
  </div>

  <!-- <h3>Time spent in</h3><h4>Entertainment</h4> -->
  <div class="dropdowndownstats">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
    <span class="partd">Jack Reeves</span>
    <span class="parte">Harry Simmions</span>
    <span class="partf">Thin Lizzy</span>
  </div>

  <div class="dropdowndownstats2">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
    <span class="partd">Jack Reeves</span>
    <span class="parte">Harry Simmions</span>
  </div>

  <div class="linestats">
    <span class="parta"></span>
    <span class="partb"></span>
    <span class="partc"></span>
    <span class="partd"></span>
    <span class="parte"></span>
  </div>

  <div class="dropdowndownstats3">
    <span class="parta">Bob Simmons</span>
    <span class="partb">Joe Smith</span>
    <span class="partc">Jane Oswald</span>
  </div>

  <div class="linestats2">
    <span class="parta"></span>
    <span class="partb"></span>
    <span class="partc"></span>
    <span class="partd"></span>
    <span class="parte"></span>
  </div>


  <div class="bigboy2"></div>

  <h1>{{today | date:'h:mma'}}</h1>
  <h2>{{today | date:'fullDate'}}</h2>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="2" min="0" max="3" step="1">
  </div>

  <ul class="thecorelist">
    <!-- Security Levels <br /> -->
    <li>Open</li>
    <li>Moderate</li>
    <li>Junior</li>
    <li>Closed</li>
  </ul>

  <div class="subject">Year 6, Maths</div>


  <div class="bigboy">
    <div class="alertcard negativecard">Bob Simmions, Thin Lizzy & Joe Smith didn't complete their homework last night</div>
    <div class="alertcard positivecard" style="padding-top: 2vh;">Jane Oswald Completed 'Maths:10 Algebra' in under 2 minutes!</div>
    <div class="alertcard negativecard" style="padding-top: 2vh;">Jack Reeves struggled with his homework last night, it took him 25 minutes</div>

    <hr>

    <div class="rightside">
      <div class="alertcard" style="padding-top: 3vh;">Bob Simmons recently searched 'boobs'</div>
      <div class="alertcard" style="padding-top: 3vh;">Jane Oswald recently searched 'netflix' in maths</div>
      <div class="alertcard" style="padding-top: 2vh;">Jack Reeves recently searched 'Pokemon Go' in maths</div>
    </div>
  </div>

  <!-- <input placeholder="Search Students..." class="searchstd" />

  <div class="notifipane">
    <h5>Searches</h5><h5>Communications</h5>
    <hr>
  </div> -->
</div>
